. ~/sqllib/db2profile &&
db2 connect to {{ config_db }} &&
db2 "update awx.ansible_config set 
        changed = current timestamp, 
        action='FAILED' 
        where hostname='{{ inventory_hostname }}'" &&
db2 terminate